@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-purple;
    background: theme('colors.purple-light');
}

#logo {
    background: url('logo.svg');
    width: 128px;
    height: 32px;
}

.close {
    background: url('close.svg');
    width: 11px;
    height: 12px;
}
